<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace='~{/fragments/head.html :: template}'></div>

<div th:replace='~{/fragments/header.html :: template}'></div>

<body class="bg-light">
<br><br><br>
<div class="header">
    <img th:src="@{/images/bike.png}" alt="CodFish Logo" class="logo">
    <h1 class="centered-title">Salesman - Customer Database</h1>
</div>

<div class="container">
    <div class="col-12">
        <div class="button-row">
            <a th:href="@{/purchase}" class="btn btn-secondary" role="button"><i class="fas fa-arrow-left"></i>Go back</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search customer...">
        <form action="#" th:action="@{/customers-purchases}" method="POST" th:object="${CustomerDTO}">
            <table class="table" id="customer-table">
                <thead class="table-dark">
                <tr>
                    <th class="col-0">Id:</th>
                    <th class="col-0">Name:</th>
                    <th class="col-0">Surname:</th>
                    <th class="col-2">Email:</th>
                    <th class="col-3">Phone number:</th>
                    <th class="col-2">Country:</th>
                    <th class="col-2">City:</th>
                    <th class="col-2">Postal code:</th>
                    <th class="col-2">Street:</th>
                    <th class="col-2">House number:</th>
                    <th class="col-2">Apartment number:</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${availableCustomerDTOs}">
                    <td th:text="${customer.customerId}"></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.surname}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phone}"></td>
                    <td th:text="${customer.country}"></td>
                    <td th:text="${customer.city}"></td>
                    <td th:text="${customer.postalCode}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.houseNumber}"></td>
                    <td th:text="${customer.apartmentNumber}"></td>
                </tr>
                </tbody>
            </table>
            <div id="pagination-container"></div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        var items = $("#customer-table tr");
        var numItems = items.length;
        var perPage = 10;

        items.slice(perPage).hide();

        $('#pagination-container').twbsPagination({
            totalPages: Math.ceil(numItems / perPage),
            visiblePages: 5,
            onPageClick: function (event, page) {
                var start = perPage * (page - 1);
                var end = start + perPage;

                items.hide().slice(start, end).show();
            }
        });
    });
</script>
<script>

    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#customer-table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
<br><br><br>
<div th:replace='~{/fragments/footer.html :: template}'></div>
</html>