<header th:fragment="template"
        class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item"><a class="nav-link" href="/codfish-bike">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/codfish-bike/salesman">Portal salesman</a></li>
                <li class="nav-item"><a class="nav-link" href="/codfish-bike/purchase">Sale salesman </a></li>
                <li class="nav-item"><a class="nav-link" href="/codfish-bike/service/new">Service a bike</a></li>
                <li class="nav-item"><a class="nav-link" href="/codfish-bike/bike/history">Bike history</a></li>
                <li class="nav-item"><a class="nav-link" href="/codfish-bike/personRepairing">Person Repairing Portal</a></li>
            </ul>
        </div>
    </div>
    </nav>
</header>