<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>CodFish Bike&Service</title>
</head>

<body>
<div class="container">
    <h1>CodFish Bike&Service</h1>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/salesman}" class="btn btn-info" role="button">Go back</a>
        </div>
    </div>

    <br>
    <br>

    <h2>Available bikes:</h2>

    <div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Serial</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
                <th>Color</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bike : ${availableBikeDTOs}">
                <td th:text="${bike.category}"></td>
                <td th:text="${bike.subcategory}"></td>
                <td th:text="${bike.serial}"></td>
                <td th:text="${bike.brand}"></td>
                <td th:text="${bike.model}"></td>
                <td th:text="${bike.year}"></td>
                <td th:text="${bike.color}"></td>
                <td th:text="${bike.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <form action="#" th:action="@{/purchase}" method="POST" th:object="${bikePurchaseDTO}">
        <div class="row mt-3">
            <div class="col-md-6">
                <h3>Existing customer:</h3>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="existingCustomerEmail">Customer email:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="existingCustomerEmail"
                               th:field="*{existingCustomerEmail}">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>New customer:</h3>
                <br>
                <p>Customer data:</p>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerName">Name:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerName" th:field="*{customerName}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerSurname">Surname:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerSurname" th:field="*{customerSurname}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerEmail">Email:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerEmail" th:field="*{customerEmail}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerPhone">Phone number:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerPhone" th:field="*{customerPhone}">
                    </div>
                </div>
                <br>
                <p>Customer address:</p>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerAddressCountry">Country:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerAddressCountry" th:field="*{customerAddressCountry}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerAddressCity">City:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerAddressCity" th:field="*{customerAddressCity}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerAddressPostalCode">Postal code:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerAddressPostalCode" th:field="*{customerAddressPostalCode}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerAddressStreet">Street:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerAddressStreet" th:field="*{customerAddressStreet}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerAddressHouseNumber">House Number:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerAddressHouseNumber" th:field="*{customerAddressHouseNumber}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="customerAddressApartmentNumber">Apartment Number:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="customerAddressApartmentNumber"
                               th:field="*{customerAddressApartmentNumber}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="bikeSerial">Bike Serial:</label>
                <select id="bikeSerial" th:field="*{bikeSerial}">
                    <option th:each="availableBikeSerial : ${availableBikeSerials}"
                            th:value="${availableBikeSerial}"
                            th:text="${availableBikeSerial}"></option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="salesmanCodeNameSurname">Salesman CodeNameSurname:</label>
                <select id="salesmanCodeNameSurname" th:field="*{salesmanCodeNameSurname}">
                    <option th:each="availableSalesmanCodeNameSurname : ${availableSalesmanCodeNameSurnames}"
                            th:value="${availableSalesmanCodeNameSurname}"
                            th:text="${availableSalesmanCodeNameSurname}"></option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <input type="submit" value="Purchase!" class="btn btn-success">
            </div>
        </div>
    </form>
</div>
<br>
<br>
</body>

</html>